Import packages

In [ ]:
# Import Pandas package and label it pd 
import pandas as pd

Import data

In [ ]:
# Import baseball data and call the dataset ‘baseball’
#from google.colab import files  # uncomment if using colab
#uploades = files.upload()  # uncomment if using colab
baseball = pd.read_csv('baseball.csv')

In [ ]:
# View the first 5 rows of the data
print(baseball.head())

Summary statistics

In [ ]:
# Display summary statistics for variable Height using baseball data
print(baseball["Height"].describe())

In [ ]:
# Find the median of Weight using baseball data
print(baseball["Weight"].median())

In [ ]:
# Find the mode of Age using baseball data
print(baseball["Age"].mode())

In [ ]:
# Display the correlation coefficient between Height and Weight using baseball data   
baseball["Height"].corr(baseball["Weight"])

Graphs

In [ ]:
# produce a scatter plot of height and weight using the baseball data
baseball.plot.scatter(x='Height', y='Weight')

In [ ]:
# produce a line graph using a data set called dataframe 
dataframe.plot.line(x='[type variable name here]', y='[type variable name here]')

In [ ]:
# produce a bar graph using a data set called dataframe 
dataframe.plot.bar(x='[type variable name here]', y='[type variable name here]')

OLS Regression

In [ ]:
# import the statsmodel package
import statsmodels.formula.api as smf

In [ ]:
# drop missing data if necessary i.e. 
baseball_na = baseball.dropna()

In [ ]:
# regress age on weight using baseball data
ols_1 = smf.ols('Weight ~ Age', data=baseball_na).fit()

In [ ]:
# show the regression table
print(ols_1.summary().tables[1])

In [ ]:
# regress age and height on weight using baseball data
ols_2 = smf.ols('Weight ~ Age + Height', data=baseball_na).fit()

In [ ]:
# show the regression table
print(ols_2.summary().tables[1])

How to create data frames

In [ ]:
# import pandas as pd

In [ ]:
# Input the data
indium = pd.DataFrame({'Driver ID': ['1', '1', '2', '3', '3'],
                       'Date': ['02/05/20', '02/05/20', '03/05/20', '03/05/20', '05/05/20'],
                       'Time': ['11:50am', '1:30pm', '9:05am', '6:10am', '8:20pm'],
                       'State': ['Vic', 'Vic', 'NSW', 'SA', 'SA'],
                       'Accident': ['No', 'No', 'No', 'Yes', 'No']},
                      index=[0, 1, 2, 3, 4])

In [ ]:
# View a subset of your data frame
print(indium.head())

In [ ]:
# View the data types of the variables in your data frame
indium.dtypes

In [ ]:
# Convert yes/no variables into binary variables 
indium['Accident'] = indium['Accident'].replace({'No':0,'Yes':1})  
print(indium.head())

In [ ]:
# Convert categorical variables into individual dummy variables
indium_state = pd.get_dummies(indium.State)
print(indium_state.head())

In [ ]:
# Merge new State variables into original data frame
indium = pd.concat([indium, indium_state], axis=1)
print(indium.head())

In [ ]:
# Change an object variable or float variable into an integer variable            
indium['Driver ID'] = indium['Driver ID'].astype('int')

In [ ]:
# Change an object variable into a date variable          
indium['Date'] = pd.to_datetime(indium['Date']).dt.date

In [ ]:
# Change an object variable into a time variable      
indium['Time'] = pd.to_datetime(indium['Time']).dt.time

In [ ]:
# Change the name of a variable
indium.rename(columns={'State': 'State_old'}, inplace=True)